<h1>Paper Cup</h1>
<h3>(A social-media-derived writing inspiration generator)</h3>


<h2>From Flickr</h2>
<embed src=<%=@embed_photo["flickr"]%> width=”375″ height=”225″ /><br/>

<br>

<h2>From Twitter</h2>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% 3.times do |i| %>
      <tr>
        <td><%= @arrayOfTweets[i] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>From Reddit</h2>
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% 3.times do |i| %>
      <tr>
        <td><%= @results[i].title %></td>
      </tr>
    <% end %>  
  </tbody>
</table>

<h2>Now get to writing!</h2>
<br>
<!-- 
<%= link_to 'New Tweet', new_tweet_path %> -->


